USE [DB_PROYECTO_1]
GO
/****** Object:  Table [dbo].[MODULO]    Script Date: 5/15/2021 10:56:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MODULO](
	[ID_MODULO] [int] NOT NULL,
	[NOMBRE] [nvarchar](80) NOT NULL,
	[DESCRIPCION] [nvarchar](max) NULL,
	[PATH] [nvarchar](max) NULL,
	[NIVEL] [int] NULL,
	[ORDEN] [int] NULL,
	[ID_MODULO_PADRE] [int] NOT NULL,
	[ACTIVO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_MODULO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERMISO]    Script Date: 5/18/2021 10:56:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISO](
	[ID_PERMISO] [int] NOT NULL,
	[ID_MODULO] [int] NOT NULL,
	[ID_ROL] [int] NOT NULL,
	[ACTIVO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PERMISO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 5/18/2021 10:56:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL](
	[ID_ROL] [int] NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
	[DESCRIPCION] [nvarchar](max) NULL,
	[ACTIVO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ROL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 5/18/2021 10:56:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID_USUARIO] [int] NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
	[APELLIDO] [nvarchar](50) NOT NULL,
	[USUARIO] [nvarchar](30) NOT NULL,
	[PASSW] [nvarchar](8) NOT NULL,
	[ID_ROL] [int] NOT NULL,
	[ACTIVO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

INSERT INTO USUARIO(ID_USUARIO,NOMBRE,APELLIDO,USUARIO,PASSW,ID_ROL,ACTIVO) VALUES
	(1,'Administrator','System','Admin','12345678',1,1),
	(2,'Edgar','Sandoval','esandoval','123',2,1),
	(3,'Lester','Carrillo','lcarrillo','1234',3,1)
GO

INSERT INTO ROL(ID_ROL,NOMBRE,DESCRIPCION,ACTIVO) VALUES
	(1,'Administracion','Rol para administracion del sistema',1),
	(2,'Gerencia','Rol para gerentes del sistema',1),
	(3,'Empleados','Rol para empleados del sistema',1)
GO

INSERT INTO PERMISO(ID_PERMISO,ID_MODULO,ID_ROL,ACTIVO) VALUES
	(1,1,1,1),
	(2,2,1,1),
	(3,3,1,1),
	(4,4,1,1),
	(5,5,1,1),
	(6,6,1,1),
	(7,7,1,1),
	(8,8,1,1),
	(9,9,1,1)
GO

SELECT [ID_MODULO]
      ,[NOMBRE]
      ,[DESCRIPCION]
      ,[PATH]
      ,[NIVEL]
      ,[ORDEN]
      ,[ID_MODULO_PADRE]
      ,[ACTIVO]
  FROM [dbo].[MODULO]

GO

SELECT [ID_PERMISO]
      ,[ID_MODULO]
      ,[ID_ROL]
      ,[ACTIVO]
  FROM [dbo].[PERMISO]

GO

SELECT [ID_ROL]
      ,[NOMBRE]
      ,[DESCRIPCION]
      ,[ACTIVO]
  FROM [dbo].[ROL]

  GO

SELECT [ID_USUARIO]
      ,[NOMBRE]
      ,[APELLIDO]
      ,[USUARIO]
      ,[PASSW]
      ,[ID_ROL]
      ,[ACTIVO]
  FROM [dbo].[USUARIO]

GO