USE [DB_PROYECTO_1]
GO
/****** Object:  Table [dbo].[MONITORES]    Script Date: 26/05/2021 08:36:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONITORES](
	[CODIGO] [int] NULL,
	[DESCRIPCION] [varchar](50) NULL
) ON [PRIMARY]
GO

INSERT INTO MONITORES VALUES
(1,'TODOS'),
(2,'COCINA'),
(3,'BAR'),
(4,'RECEPCION');

SELECT * FROM MONITORES;